@font-face{
	font-family: Bebas;
	src: url('../fonts/BEBAS.ttf');
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body,div,p,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,blockquote{
	margin: 0;
	padding: 0;
}

img{
	border: none;
	outline: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: Bebas, sans-serif;
}

header,figure,figcaption,section,footer,article,aside{
	margin: 0;
	padding: 0;
}

button{
	border: none;
}

iframe{
	width: 100%;
	border: none;
	max-width: 100%;
}

html,body{
	height: 100%;
}

body{
	background-image: url(../img/site_bg.png);
	background-repeat: repeat;
}

.wrapper{
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.wrapper::after{
	position: absolute;
	content: ' ';
	width: 100%;
	height: 254px;
	display: block;
}

.container{
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background-image: url(../img/site_bg.png);
}

.row,.row::after,.row::before{
	content: ' ';
	display: block;
	clear: both;
}

.left{ float: left; }

.right{ float: right; }

.page-title{
	margin-bottom: 25px;
	padding: 15px 0 15px 20px;
	background: #e8603c;
	color: #fff;
	font-family: Bebas,sans-serif;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 2px;
}

.btn{
	display: inline-block;
	min-width: 60px;
	background: #e8603c;
	color: #fff;
	font-family: Bebas, sans-serif;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	padding: 4px 0;
	cursor: pointer;
}

.pagination{
	list-style-type: none;
	margin-bottom: 30px;
}

.pagination-item{
	width: 25px;
	height: 25px;
	margin-right: 5px;
	display: inline-block;
	background: #f3b29d;
	text-align: center;
}

.pagination-item.active{
	background: #e8663c;
}

.pagination-link{
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-family: Bebas,sans-serif;
	color: #fff;
	line-height: 25px;
}

.pagination-link:hover{
	background: #e8663c;
}

#slider img,#list-worcks img,.entry-item img,.item-portfolio img{
	max-width: 100%;
	height: auto;
	max-height: 100%;
	display: block;
}

.logo{
	margin-top: 20px;
	line-height: 1;
	max-width: 100px;
	color: #e8603c;
	text-transform: uppercase;
	font-size: 36px;
	font-family: Bebas, sans-serif;
}

.logo > span.fa{
	display: none;
}

header{ margin-bottom: 20px; }

.logo > span{ color: #f3af9d; }

.top-menu{
	max-width: 415px;
	margin-top: 30px;
}

.list-menu > .item-menu{
	display: inline-block;
	margin-right: 30px;
	list-style-type: none;
}

.list-menu > .item-menu:last-child{
	margin-right: 0;
}

.item-menu > .link-menu{
	font-family: Bebas,sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: #b9b9b9;
}

.list-menu > .active > .link-menu{ color: #e8603c; }

.item-menu > .link-menu:hover{
	color: #e8603c;
}

.side-bar{
	width: 25%;
	max-width: 220px;
	float: right;
}

.side-bar > section{
	margin-bottom: 35px;
}

.side-bar,.category-link{
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	color: #464646;
	text-decoration: none;
}

.side-bar .side-title{
	margin-bottom: 15px;
	font-family: Bebas,sans-serif;
	font-size: 14px;
	color: #e8603c;
	background: url(../img/dot_bg.png) repeat-x;
}



.side-bar h4 strong{
	display: inline-block;
	padding-right: 20px;
	background: url(../img/site_bg.png) repeat-x;
}

.gallary-list{ list-style-type: none; }

.gallary-item{
	float: left;
	border: 1px solid #e8603c;
	min-height: 50px;
	width: 23%;
	margin-right: 3%;
	margin-bottom: 5px;
	max-width: 50px;
	max-height: 50px;
	background: #f3af9d;
	cursor: pointer;
}

.gallary-item:nth-child(4n),.gallary-item:last-child{
	margin-right: 0;
}

.category-list{ list-style: none; }

.category-item{ margin-bottom: 5px; }

.content{
	background: url('../img/content_bg.jpg') repeat-x;
}

.page-content{
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
}

.page-content p{
	margin-bottom: 20px;
}

.page-content blockquote{
	border-left: 8px solid #e8603c;
	padding-left: 20px;
	font-style: italic;
	color: #414141;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
}

.page-content p.col2{
	width: 48%;
	float: left;
	padding-right: 20px;
}

.page-content p.col2:last-child{
	/* clear: right; */
	float: right;
	padding-right: 0;
}

.page-content p.col3{
	width: 33%;
	float: left;
	padding-right: 30px;
}

.page-content img.left{
	float: left;
	max-width: 100%;
	margin-right: 10px;
	margin-bottom: 20px;
}
.page-content img.right{
	float: right;
	margin-right: 20px;
}

.page-content .first-letter::first-letter{
	display: block;
	float: left;
	color: #e8603c;
	font-weight: bold;
	font-size: 36px;
	letter-spacing: 5px;
}

#list-slide{
	margin-bottom: 15px;
	list-style-type: none;
}

#list-slide figure{
	position: relative;
}

.item-slide{
	position: relative;
}

.slideBtn{
	position: absolute;
	width: 100%;
	top: 50%;
	background: transparent;
	z-index: 5;
	height: 32px;
	width: 100%;
}

.slideBtn span.fa{
	position: absolute;
	display: inline-block;
	font-size: 2em;
	width: 32px;
	height: 32px;
	z-index: 5;
	font-weight: bold;
	cursor: pointer;
}

.slideBtn span.fa-angle-left{
	left: 5px;
	color: #fff;
	
}

.slideBtn span.fa-angle-right{
	right: 5px;
	color: #fff;
}

.slideDescription{
	width: 50%;
	max-width: 415px;
	position: absolute;
	bottom: 30px;
	left: 40px;
	padding: 20px;
	background: rgba(232, 102, 60, 0.8);
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	color: #fff;
}

.slideDescription h3{
	margin-bottom: 20px;
}

.slideDescription h3 a{
	word-spacing: 5px;
	letter-spacing: 2px;
	display: block;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

#list-thumbnails{
	list-style-type: none;
	margin-bottom: 40px;
}

#list-thumbnails > .item-thumbnail{
	width: 16%;
	max-width: 140px;
	float: left;
	margin-right: 2.1%;
}

#list-thumbnails > .item-thumbnail:last-child{
	margin-right: 0;
}


#list-features{
	list-style-type: none;
	margin-bottom: 45px;
}

#list-features >.item-feature{
	width: 33%;
	max-width: 300px;
	margin-right: .5%;
	padding-right: 20px;
	float: left;
}

#list-features >.item-feature:last-child{
	margin-right: 0;
}

.wrap-title{ margin-bottom: 30px; }

.wrap-title > img{
	max-width: 100%;
	max-height: 100%;
	float: left;
	margin-right: 20px;
}
.wrap-title > h3{
	font-size: 18px;
	line-height: 24px;
	color: #e8603c;
}

.text-feature{
	margin-bottom: 20px;
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
}

#recentWorks > h2{
	margin-bottom: 25px;
	font-size: 18px;
	color: #e8603c;
	line-height: 1;
	background: url('../img/dot_bg.png') repeat-x;
}

#recentWorks > h2 strong{
	display: inline-block;
	width: 135px;
	background: url(../img/site_bg.png) repeat-x;
}

#list-worcks,#list-portfolio{
	list-style-type: none;
	margin-bottom: 50px;	
}

#list-worcks .item-worck,#list-portfolio .item-portfolio{
	width: 25%;
	max-width: 220px;
	margin-right: 2%;
	float: left;
}

#list-worcks .item-worck:last-child{
	margin-right: 0;
}
.desc-worck{
	padding: 10px;
	border: 1px solid #dbdbdb;
	border-top: none;
}

.item-worck .desc-worck h3,.item-portfolio .desc-worck h3{
	color: #b9b9b9;
	font-size: 16px;
	line-height: 18px;
}

.item-worck .desc-worck a,.item-portfolio .desc-worck a{
	font-family: Bebas,sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #e8663c;
	text-decoration: none;
}

/* portfolio */

/* #list-portfolio{} */

.item-portfolio .add{
	display: none;
	position: absolute;
	color: rgba(0, 0, 0, .75);
	background: rgba(255, 255, 255, .75);
	top: 38%;
	bottom: 50%;
	left: 41%;
	right: 50%;
	width: 40px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}


.desc-worck > h3:hover .add{
	display: inline-block;
}

#list-portfolio .item-portfolio{
	margin-bottom: 30px;
}

#list-portfolio .item-portfolio:nth-child(4n){
	margin-right: 0px;
}

/* portfolio */

.list-entry{
	list-style-type: none;
	max-width: 670px;
	float: left;
}

.entry-item{
	position: relative;
	background: url(../img/dot_bg.png) repeat-x;
	background-position: bottom right;
	/* margin-bottom: 35px; */
	padding-bottom: 50px;
	margin-bottom: 60px;
}

.entry-item img{
	margin-bottom: 20px;
}

.entry-meta{
	width: 20%;
	max-width: 140px;
	float: left;
}

.entry-meta .entry-date, .entry-meta .tags,.entry-meta .cnt-comments{
	font-family: Bebas,sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	color: #e8603c;
}

.list-tag{ list-style-type: none; }

.list-tag li{ display: inline-block; }

.entry-meta a,.entry-meta time{
	text-decoration: none;
	font-family: Helvetica,sans-serif;
	font-size: 12px;
	color: #bababa;
	line-height: 20px;
}

.entry-meta a:hover{
	text-decoration: underline;
}

.entry-short-desc{
	float: right;
	width: 80%;
}

.entry-cat-link{
	position: absolute;
	top: 0;
	left: -85px;
	display: inline-block;
	line-height: 75px;
	font-size: 32px;
	text-decoration: none;
	width: 75px;
	height: 75px;
	background: #e8603c;
	color: #fff;
	text-align: center;
}

.entry-title{
	margin-bottom: 20px;
}
.entry-link{
	color: #e8603c;
	text-decoration: none;
	font-size: 18px;
	word-spacing: 5px;
}

.entry-short-text p{
	margin-bottom: 25px;
}
.entry-short-text{
	font-family: Helvetica, sans-serif;
	color: #414141;
	font-size: 12px;
	line-height: 18px;
}


/* tabs */

.list-tabs{
	list-style-type: none;
	margin-bottom: 35px;
}

.item-tabs{
	display: inline-block;
	margin-right: 15px;
}

.item-tabs.active{
	background: #e8603c;
	color: #fff;
}

.link-tabs{
	display: block;
	padding: 10px 15px;
	color: #e8603c;
	font-family: Bebas,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}

.item-tabs.active a{
	color: #fff;
}

.item-tabs:hover{
	background: #e8603c;
}

.item-tabs:hover a{
	color: #fff;
}

/* End tabs */

/* contact */

.contact,.about{
	float: left;
	width: 80%;
	max-width: 700px;
}

.contact-map{ margin-bottom: 35px; }

.frame-wrap{ position: relative; }

.frame-ratio{
	padding-top: 25.25em;
	height: 0;
}

.frame-content{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.details{
	width: 32%;
	max-width: 220px;
	float: left;
	font-family: Helvetica,sans-serif;
	font-size: 12px;
}

.details p{
	margin-bottom: 20px;
}

.contact-form{
	width: 66%;
	max-width: 460px;
	float: right;
}

.contact-details{
	margin-bottom: 30px;
}

.contacts-list{
	list-style-type: none;
	margin-top: 10px;
}

.contact-item{ margin-bottom: 5px; }

.contact-link{
	color: #414141;
	text-decoration: none;
}

.wrap-input .fa{
	display: none;
}

.contact-form input,.contact-form textarea{
	border: 1px solid #e8603c;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.contact-form textarea{
	resize: none;
	width: 100%;
	max-width: 100%;
	height: 200px;
}

.contact-form input::-webkit-input-placeholder,.contact-form textarea::-webkit-input-placeholder{
	color: #e8603c;
	font-family: Bebas,sans-serif;
	font-size: 12px;
	line-height: 28px;
}

.contact-form input{
	width: 47%;
	max-width: 215px;
}

.contact-form input:focus,.contact-form textarea:focus{
	outline: none;
}

/* contact */


/* footer */
footer{
	background: #f3b29d;
	/* margin-top: -250px; */
}


footer > .container{
	padding: 0;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	background-image: none;
	background: #e8663c;
}

footer h4{
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	font-size: 20px;
}

.f-about,.f-twitter,.f-contact{
	width: 33%;
	padding-left: 35px;
	float: left;
	color: #fff;
}

.f-about{
	font-size: 12px;
	font-family: Helvetica,sans-serif;
}

.f-about > .text-f-about{
	margin-bottom: 15px;
}

#widget-twitter{ list-style-type: none; }

#widget-twitter > .widget-item{
	font-family: Helvetica,sans-serif;
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 14px;
}

.widget-item >p{
	margin-bottom: 5px;
}

.widget-item .dt{
	color: #f3b29d;
}

.widget-item a{
	font-family: Helvetica,sans-serif;
	color: #f3b29d;
	text-decoration: none;
}

.f-contact{ margin-right: 0; }

.f-contact .contact-text{
	font-style: normal;
	font-family: Helvetica,sans-serif;
	font-size: 12px;
}

.link-addr{
	list-style-type: none;
	margin-top: 15px;
}

.link-addr .addr-item{ margin-bottom: 5px; }

.link-addr .addr-item a{
	color: #fff;
	text-decoration: none;
}

.link-addr .addr-item a:hover{
	text-decoration: underline;
}

@media screen and (max-width: 1024px) and (max-height: 768px){
	.container{
		width: 100%;
		max-width: none;
		padding: 0;
	}

	#slider,header,#features,#list-worcks{
		width: 92%;
		margin: 0 auto;
	}

	header{ margin-bottom: 20px; }

	footer > .container{
		border-right: none;
		border-left: none;
	}
}

@media screen and (max-width: 960px){
	
}

@media screen and (max-width: 800px){

	#slider,header,#features,#list-worcks{
		width: 100%;
		margin: 0;
	}

	header{ margin-bottom: 20px; }

	#list-portfolio .item-portfolio{
		max-width: none !important;
		width: 23%;
	}

	#list-portfolio .item-portfolio:nth-child(4n){
	margin-right: 0 !important;
	}
}

@media screen and (max-width: 640px){

	.top-menu{
		max-width: none;
	}

	#slider{
		margin-bottom: 20px;
	}

	#list-thumbnails{
		width: 45%;
		margin: 0 auto;
	}

	#list-thumbnails .item-thumbnail{
		max-height: none;
		max-height: none;
		height: 20px;
		width: 20px;
		margin-right: 10%;
		border: 1px solid #e8603c;
		border-radius: 50%;
	}

	.item-thumbnail.slideActive{
		background: #e8603c;
		border-color: #e8603c;
	}

	#list-thumbnails a{
		display: block;
		padding: 5px;
		min-height: 100%;
		
	}

	#list-thumbnails img{
		display: none;
	}

	.side-bar > section{
		margin-bottom: 15px;
	}

	.side-bar .side-title{
		margin-bottom: 5px;
	}

	.list-entry{
		float: none;
		width: 95%;
		margin: 0 auto;
	}

	#list-features >.item-feature{
		max-width: none;
		width: 49%;
		margin-bottom: 30px;
	}

	#list-features >.item-feature:last-child{
		float: none;
		width: 100%;
	}

	.side-bar{
		max-width: 100%;
		width: 100%;
		float: none;
	}

	.side-bar section{
		width: 33%;
		float: left;
	}

	.side-bar section:nth-child(1){
		width: 35%;
	}

	.side-bar section:nth-child(2){
		width: 26%;
		padding-left: 10px; 
	}

	.side-bar section:nth-child(3){
		width: 36%;
	}

	.side-bar .side-title{
		background-image: none;
		text-align: center;
	}

	.pagination{
		width: 30%;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	#list-worcks .item-worck{
		max-width: none;
		width: 24%;
		margin-right: 1%;
	}

	#list-worcks .item-worck:last-child{
		margin-right: 0;
	}

	#list-portfolio .item-portfolio{
		width: 32%;
	}

	#list-portfolio .item-portfolio:nth-child(4n){
		margin-right: 2% !important;
	}

	#list-portfolio .item-portfolio:nth-child(3n){
	margin-right: 0px;
	}

	.entry-item{
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	.entry-desc{
		padding-left: 10px;
	}

	.entry-cat-link{
		left: 0;
		
	}

	.entry-meta{
		float: none;
		width: 100%;
		max-width: none;
	}

	.entry-meta >dt,.entry-meta >dd{
		display: inline-block;
		margin-right: 15px;
	}

	.entry-short-desc{
		float: none;
		width: 100%;
	}

	.entry-title{
		margin-bottom: 10px;
	}

	.about{
		width: 100%;
		max-width: none;
		float: none;
		padding: 0 10px;
	}

	.contact{
		width: 100%;
		max-width: none;
		float: none;
	}

	.details,.contact-form{
		width: 100%;
		max-width: none;
	}

	.details >*{
		width: 33%;
		float: left;
	}

	.details >p:nth-child(1){
		padding-left: 10px;
	}

	.details >p:nth-child(2){
		padding-left: 10px;
	}

	/* .contact-form{

	} */
}

@media screen and (max-width: 600px){

	.container{
		padding: 0;
	}
}

@media screen and (max-width: 580px){
	.logo{
		float: none;
		position: relative;
		margin-bottom: 15px;
		max-width: none;
		width: 100%;
		text-align: center;
	}

	.logo > span.fa{
		display: inline-block;
		position: absolute;
		right: 0;
		font-size: 38px;
		width: 38px;
		height: 38px;
	}

	.top-menu{
		float: none;
		margin: 0 auto;
	}
}




@media screen and (max-width: 420px) and (min-width: 100px){

	.logo{
		float: none;
		position: relative;
		margin-bottom: 15px;
		max-width: none;
		width: 100%;
		text-align: center;
	}

	.logo > span.fa{
		display: inline-block;
		position: absolute;
		right: 0;
		font-size: 38px;
		width: 38px;
		height: 38px;
	}

	header .top-menu{
		position: relative;
	}

	.top-menu{
		display: none;
		max-width: none;
		float: none;
	}

	.list-menu{
		position: absolute;
		z-index: 10;
		background: url(../img/site_bg.png);
		width: 50%;
		right: 0;
	}

	.slideDescription{
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: 80%;
		left: auto;
		bottom: auto;
		z-index: 0;
		/* position: static;	 */
	}

	#list-thumbnails{
		width: 50%;
		margin-top: 140px;
	}

	#list-thumbnails .item-thumbnail{
		margin-right: 6%;
	}

	#list-thumbnails .item-thumbnail:last-child{
		margin-right: 0;
	}

	#list-features >.item-feature{
		max-width: none;
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}

	.list-menu > .item-menu{
		display: block;
		margin-right: 20px;
	}

	.link-menu{
		display: block;
	}

	.text-feature{
		padding: 0 10px;
	}

	.item-feature > .btn{
		width: 100%;
		display: block;
	}
	.list-entry{
		width: 100%;
	}

	#list-portfolio .item-portfolio{
		width: 48%;
	}

	#list-portfolio .item-portfolio:nth-child(2){
		margin-right: 0;
	}

	#list-portfolio .item-portfolio:nth-child(1n){
		float: left;
	}
	#list-portfolio .item-portfolio:nth-child(2n){
		float: right;
	}

	#list-portfolio .item-portfolio:nth-child(3n),#list-portfolio .item-portfolio:nth-child(4n){
		margin-right: 0 !important;
	}

	.side-bar section{
		width: 100%;
		float: none;
	}

	.side-bar section:nth-child(3){
		width: 90%;
		margin: 0 auto;
	}

	.gallary-item{
		margin-bottom: 15px;
		margin-right: 10%;
	}

	/* .gallary-list{} */

	.page-content{
		padding-left: 10px;
		padding-right: 30px;
	}

	.page-content img.left,.page-content img.right{
		float: none;
		margin: 10px;
		width: 90%;
		max-width: 100%;
	}

	.page-content p.col2{
		width: 100%;
		float: none;
	}

	.page-content p.col3{
		float: none;
		width: 100%;
	}

	.f-about,.f-twitter,.f-contact{
		width: 100%;
		float: none;
		/* padding-left: 0; */
		padding: 0 20px;
	}

	#list-worcks .item-worck{
		max-width: none;
		width: 48%;
		margin-right: 0;
	}

	#list-worcks .item-worck:nth-child(even){ float: left; }
	#list-worcks .item-worck:nth-child(odd){ float: right; }

	footer h4{
		margin: 0;
		text-align: center;
		margin-bottom: 15px;
	}

	

	.f-about h4{ padding-top: 20px; }
}